[Unit]
Description=wifispy

[Service]
WorkingDirectory=/root/wifispy
ExecStart=/usr/bin/python manage.py
Restart=always

[Install]
WantedBy=multi-user.target
